<div id="about-section">
  <div class="about-section-head">
    <div class="img-side">
      <img src="about.jpg" alt="Santosh pics" />
    </div>
    <div class="text-side">
      <b> A dedicated Full-Stack Developer from Nepal 👀</b><p>
        As a Junior Full-Stack, I possess an impressive arsenal of skills in
        HTML, CSS, JavaScript, React, Tailwind,NodeJS,Express & MongoDB .I excel
        in designing and maintaining responsive websites that offer a smooth
        user experience. My expertise lies in crafting dynamic, engaging
        interfaces through writing clean and optimized code.
      </p>
    </div>
  </div>

  <h2>
    <b>My Tech Stack</b>
  </h2>
  <section class="techStack">
    <img src="/Html 5.png" alt="" />
    <img src="/CSS3.png" alt="" />
    <img src="/JavaScript.png" alt="" />
    <img src="/React Native.png" alt="" />
    <img src="/Tailwindcss.png" alt="" />
    <img src="/Bootstrap.png" alt="" />
    <img src="/Sass.png" alt="" />
    <img src="/Nodejs.png" alt="" />
    <img src="/Figma.png" alt="" />
    <img src="/C++.png" alt="" />
    <img src="/Git.png" alt="" />
    <img src="/GitHub.png" alt="" />
    <img src="/MongoDB.png" alt="" />
    <img src="/.png" alt="" />
  </section>
  
   

</div>

<style>
  hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
  }

  #about-section {
    display: grid;
    gap: 0.5rem;
    margin-top: 3em;
    margin-bottom: 3em;
    line-height: 1.55;
  }

  #about-section .about-section-head {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    align-items: center;
    justify-items: center;
    margin: 1rem;
  }

  .text-side {
    padding: 1rem;

    background-color: #98a86d;
    color: #161616;

    border-radius: 14px;
    opacity: 1;
    transform: rotate(5deg);

    width: clamp(200px, 100%, 500px);
  }

  .img-side {
    background-color: #98a86d;
    border-radius: 14px;
    opacity: 0.8;
    position: relative;
    transform: rotate(0deg);
    width: clamp(200px, 100%, 500px);
  }
  .img-side:hover {
    transform: rotate(-5deg);
    transition: all 0.5s ease-in-out;
  }

  .text-side:hover {
    transform: rotate(0deg);
    transition: all 0.5s ease-in-out;
  }

  .img-side img {
    width: 100%;
    border-radius: 10px;
    transform: rotate(5deg);
    border: #b4c879 7px solid;
  }

  #about-section .techStack img {
    width: 50px;
  }

  h2 {
    text-align: center;
    margin-top: 2em;
    margin-bottom: 2em;
    color: #ffffff;
    background-color: #000000;
    border-radius: 14px;
    opacity: 0.8;
  }

  #about-section .techStack {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1rem;
    align-items: center;
    justify-items: center;
    margin: 1rem;
  }
  @media screen and (max-width: 1048px) {
    #about-section .about-section-head {
      grid-template-columns: 1fr;
    }

    #about-section .about-section-head .text-side {
    }

    #about-section .about-section-head .img-side {
    }

    #about-section .techStack {
      grid-template-columns: repeat(3, 1fr);
    }
  }
</style>
