<div id="about-section">
    <h2>About</h2>
    <b>
      A dedicated Full-Stack Developer  from Nepal 📍
    </b><p>
      As a Junior Full-Stack, I possess an impressive arsenal of skills in HTML,
      CSS, JavaScript, React, Tailwind,NodeJS,Express & MongoDB .I excel in
      designing and maintaining responsive websites that offer a smooth user
      experience. My expertise lies in crafting dynamic, engaging interfaces
      through writing clean and optimized code.
    </p>
   
<section class="techStack">
  <img src="/Html 5.png" alt="">
  <img src="/CSS3.png" alt="">
  <img src="/JavaScript.png" alt="">
  <img src="/React Native.png" alt="">
  <img src="/Tailwindcss.png" alt="">
  <img src="/Bootstrap.png" alt="">
  <img src="/Sass.png" alt="">
  <img src="/Nodejs.png" alt="">
  <img src="/Figma.png" alt="">
  <img src="/C++.png" alt="">
  <img src="/Git.png" alt="">
  <img src="/GitHub.png" alt="">
  <img src="/MongoDB.png" alt="">
  <img src="/.png" alt="">
</section>
  </div>


<style>
  hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
  }
  .techStack img{
    width: 50px;
  }

  #about-section {
   display: grid;
   gap: 0.5rem;
   
   margin-top: 3em;
    margin-bottom: 3em;
   
  }

  h2{
    color: #27AE60;
  }
</style>

