<div class="footer">
    <h1 class="logo">
 Santosh Yadav
</h1>
<p>Dhulikhel, 28-kilo ,Nepal</p>
<hr>
    <p>© 2023 Santosh Yadav. All rights reserved.</p>
</div>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Inspiration&display=swap');
    .footer{
        color: #fff;
        text-align: center;
       margin-top: 2em;
       display: flex;
         flex-direction: column;
         gap: 1em;
    }
    .logo{
        font-weight: 100;
        font-size: 3em;
        font-family: 'Inspiration', cursive;
    }
    p{
        font-size: 1em;
        opacity: 0.7;
        font-weight: 100;
        font-family:monospace
    }
</style>