<ul>
  <a href="#home"><li>Home</li></a>
  <a href="#about"><li>About</li></a>
  <a href="#projects"><li>Projects</li></a>
  <a href="#contact"><li>Contact</li></a>
</ul>

<style>
  ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
    border-left: solid rgb(63, 63, 63);

   
  }
  li {
    padding: 10px;
  }
  li:hover {
    background-color: #474747;
    
  }
  a{
    text-decoration: none;
   
  }
</style>

