@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Borel&family=Reem+Kufi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-image: url("../public/background.avif"); */
    background-image: url("/Space travel.gif");
   
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


li {
    list-style: none;

}

a {
    text-decoration: none;

}


.main-contents {
    margin-top: 10%;
    display: grid;
    min-height: 100vh;
    place-items: center;
    grid-template-columns: 1fr 2fr 1fr;
}

.wrapper {

    border-radius: 2%;
    grid-column: 2/3;
    margin: 2px auto;
    padding: 1rem 5rem 1rem 2rem;
    display: grid;
    gap: 1em;
    min-width: 350px;
    background-color: #191d2b;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: white;

}





@media screen and (max-width: 900px) {

    /* .wrapper {
        padding: 1rem 1rem 1rem 1rem;
    } */
    .main-contents {

        grid-template-columns: 1fr;
    }

    body {
        background: #191d2b;
    }


}