---
import "../global.css";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
    />

    <title>Portfolio</title>
  </head>
  <body>
    <div class="layout">
      <button class="transparent"
        ><span class="material-symbols-outlined"> visibility</span>
      </button>
      <div class="main-contents">
        <div class="wrapper"><slot /></div>
      </div>
    </div>
  </body>
  <script>
    const button = document.querySelector("button");
    const wrapper = document.querySelector(".wrapper");

    button.addEventListener("click", () => {
      wrapper.classList.toggle("active");
    });
  </script>

  <style>
    button {
      outline: solid 1px white;
      border-radius: 50%;
      position: fixed;
      top: 3rem;
      right: 3rem;
      padding: 0.5rem 0.5rem;
      background-color: transparent;
      color: white;
      animation: fadeIn 1s ease-in-out infinite alternate;
    }

    button span {
      /* center */
      display: flex;
      align-items: center;
      justify-content: center;

      /* size */
      width: 1.6rem;
    }
    button:hover {
      background-color: white;
      opacity: 0.5;
      color: black;
      cursor: pointer;
    }

    @keyframes fadeIn {
      0% {
        opacity: 0.3;
      }
      100% {
        opacity: 0.6;
      }
    }

    @media (max-width: 768px) {
      button {
        display: none;
      }
    }
  </style>
</html>
