---
import SideBar from "../components/sideBar.astro";
import "../global.css";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Portfolio</title>
  </head>
  <body>
    <div class="layout">
      <button class="transparent">Transparent</button>
      <div class="main-contents">
        <div class="wrapper "><slot /></div>

        
      </div>
    </div>
  </body>
  <script>
    const button = document.querySelector("button");
    const wrapper = document.querySelector(".wrapper");

    

    button.addEventListener("click", () => {
      wrapper.classList.toggle("active");
      if (wrapper.classList.contains("active")) {
        button.textContent = "Regular";
      } 
        else{
          button.textContent = "Transparent";
        }
      
      

      
    });
  </script>

  <style >

    button{
      
      border: none;
      outline: none;
      cursor: pointer;
      position: absolute;
      top: 10px;
      left: 40px;
      z-index: 100;
      padding: 0.6rem 1rem;
      
      
    }


    
    
  </style>
</html>
